!--student xuan zheng   studentID 1068369 -->
{% extends "base.html" %}
{% block content %}
    <!-- code in here to display a list of borrowers -->
    <!-- borrowerlist is the variable passed in containing list of loans -->
    <h3>Borrowers List</h3>
    <p class="text-muted">A list of all Borrowers</p>

    <table class="table table-striped table-hover">
        <tr>
            <th>Borrower ID</th>
            <th>First Name</th>
            <th>Family Name</th>
            <th>Date of Birth</th>
            <th>House Number Name</th>
            <th>Street</th>
            <th>Town</th>
            <th>City</th>
            <th>Postalcode</th>
        </tr>
        {% for borrower in borrowerlist %}
            <tr>
                {% for entry in borrower %}
                    <td>{{ entry }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>


{% endblock %}